@tailwind base;
@tailwind components;
@tailwind utilities;

.background-img {
  background-image: url(../assets/bg.jpg);
  object-fit: cover;
  background-position: center;
  background-size: cover;
}